#footer {
    color: #fff;
    img {
        height: 25px;
    }
    spam {
        text-shadow: 1px 1px goldenrod;    
    }
}
#firma {
    font-family: 'Ballet', cursive;
    font-weight: 500 !important;
    font-size: 25px !important;
    text-shadow: 1px 1px goldenrod;
}