body {
	// background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-family: 'Aguafina Script', cursive;
	font-family: 'Aguafina Script', cursive;
	font-family: 'Ballet', cursive;
	font-family: 'Codystar', cursive;
	font-family: 'Cookie', cursive;
	font-family: 'Dynalight', cursive;
	font-family: 'Ewert', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Island Moments', cursive;
	font-family: 'Italianno', cursive;
	font-family: 'Jacques Francois Shadow', cursive;
	font-family: 'Kaushan Script', cursive;
	font-family: 'Kolker Brush', cursive;
	font-family: 'Monsieur La Doulaise', cursive;
	font-family: 'Mrs Saint Delafield', cursive;
	font-family: 'Pinyon Script', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Serif', serif;
	font-family: 'Sacramento', cursive;
	font-family: 'Satisfy', cursive;
	font-family: 'Source Serif Pro', serif;
	font-family: 'Tangerine', cursive;
	font-family: 'UnifrakturMaguntia', cursive;
	font-family: 'Vollkorn', serif;
	font-family: 'Xanh Mono', monospace;
	font-family: 'Yellowtail', cursive;
	font-family: 'Zen Antique', serif;
	font-family: 'Zen Tokyo Zoo', cursive;
	font-family: 'Zhi Mang Xing', cursive;

	font-family: 'Vollkorn', serif;
}